.table-view{
    -fx-background-color: #232323;
}

.table-view .column-header-background{
    -fx-background-color: #232323;
}

.table-view .column-header-background .label{
    -fx-background-color: #232323;
    -fx-text-fill: #FC7F00;
}

.table-view .table-cell{
    -fx-text-fill: #FC7F00;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-color: #FC7F00;
    -fx-background-color: #232323;
}


.table-view .filler{
    -fx-background-color: #232323;
}